if project.images
  a(href="//#{project.url}")
    img.small(alt="#{project.url}" src="images/" + project.prefix + "-mobile.png")
    img.large(alt="#{project.url}" src="images/" + project.prefix + "-desktop.png")
