p Hello. My name is Erik Ebsen. The following is a collection of things I've built or been a part of building, both for my job as a web developer for South Dakota State University and personal side projects on my own time.

p Click an image to view the full site.

//- p Note: _Maybe try to add a toggle to filter by project type._

//- p Projects for:

//- ul
  li South Dakota State
  li personal

//- h2 Personal
//- 
//- h3 Game Time!
//- 
//- p I wanted a super-simple way to keep score at our son's soccer games. This is that thing.
//- 
//- h3 mkpw
//- 
//- p I like Safari's ability to generate and suggest good passwords but I'm not always using Safari. This script produces a random password and copies it to your clipboard. Just run and paste.
//- 
//- h3 ebsen.me
//- 
//- p This website. It changes from time to time.
//- 
//- h3 Rock-Paper-Scissors
//- 
//- p Event handlers in the browser confused me so I wrote a very simple web app to learn more about how they worked.
//- 
//- h3 Songbook
//- 
//- p A little single-page hymnal/web app of sorts for a few of the (public domain) songs we sing on Sundays with the kids. It allowed a good excuse to experiment with Jade, Harp, and Crockford-style JavaScript. It includes the greatest, most beautiful piece of template code ever written (by me).
//- 
//- hr

//- h2 Professional

.project
  h3 Agricultural Heritage Museum
  img.mobile(alt="agmuseum.com" src="../images/agmuseum-mobile.png")
  img.desktop(alt="agmuseum.com" src="../images/agmuseum-desktop.png")
  p A custom-themed WordPress site built from Photoshop designs. I and two student developers prototyped the design using Foundation and Node.js, then converted the resulting code into WordPress. It features a prominent carousel on the homepage and several post types to display information in various places across the site.

.project
  h3 Graduation 2014
  //- img.mobile(alt="sdstate.edu/graduation (2014 version)" src="../images/graduation-2014-mobile.png")
  img.desktop(alt="sdstate.edu/graduation (2014 version)" src="../images/graduation-2014-desktop.png")
  p A official university landing page to highlight the accomplishments of our graduating bachelors, masters, and Ph.D. students, including live streams of the commencement ceremonies, our own original recap video, and curated Instagram and Twitter posts.

.project
  h3 Graduation 2015
  img.mobile(alt="sdstate.edu/graduation" src="../images/graduation-2015-mobile.png")
  //- img.desktop(alt="sdstate.edu/graduation" src="../images/graduation-2015-desktop.png")
  p The current iteration of the graduation website adds social media integration through Storify, a music playlist from Spotify, and a Facebook photo album. I also scripted our Git deployment process to make publishing and updating the site much simpler.

.project
  h3 Hobo Day Parade 2014
  img.mobile(alt="sdstate.edu/parade" src="../images/hobo-day-parade-mobile.png")
  img.desktop(alt="sdstate.edu/parade" src="../images/hobo-day-parade-desktop.png")
  p The website for our first-ever live stream of the annual Hobo Day parade. We used Tagboard for the social media integration and Harp, Jade, and Less to build the website. This project grew into the template we use for many of our future static sites.

.project
  h3 We Are SDState holiday video
  //- img.desktop(alt="sdstate.edu/holiday" src="../images/holiday-2014-desktop.png")
  img.mobile(alt="sdstate.edu/holiday" src="../images/holiday-2014-mobile.png")
  p At the end of each year, the university publishes a video to highlight the accomplishments made by its faculty and staff. This year, that email campaign also kicked off #WeAreSDState, a campaign to promote the university's value around the region.

.project
  h3 News Center
  img.mobile(alt="live-sdsu-news-center.pantheon.io" src="../images/news-center-mobile.png")
  img.desktop(alt="live-sdsu-news-center.pantheon.io" src="../images/news-center-desktop.png")
  p The News Center represents our team's most significant Drupal site to date and served as a demonstration to the campus community how Drupal could transform how we publish content to the web.
