// margin|padding: top sides bottom;

// Notes on getting the images set
// mobile
// 974 × 1602 pixels
// 0.6079900125
//
// desktop
// 2776 × 1778 pixels
// 1.5613048369
//
// 640 max width (~180 ~460)



// $borderValue: .25rem solid map-get($greys, light);
$borderValue: .0625rem solid map-get($greys, light);
// $borderValue: .25rem solid map-get($greys, dark);

article {
  padding: $defaultSpacing / 2;
  // margin: $defaultSpacing / 2;
  margin: 0 auto;
  // max-width: 800px; // 50 rem?
  max-width: 40rem;
}

.project {
  border-top: $borderValue;
  // padding: $defaultSpacing/2 0 $defaultSpacing/2;
  padding: $defaultSpacing*2 0;
  // padding: $defaultSpacing*2 -($defaultSpacing/2) 0;

  .screenshots {
    // height: 16rem;
    // width: 100%;
    content: "";
    display: table;
    clear: both;
  }

  .full {
    // background-color: map-get($greys, light); // FIXME
  }

  .large, .small {
    float: left;
    // background-color: map-get($greys, light); // FIXME
    // height: 16rem;
    // max-height: 100%;
    // max-height: 100%;
  }

  .large {
    // width: 72%;
    // max-width: 28.75rem;
    width: 71.875%;
    @media screen and #{$small_screen} {
      // width: 60%;
    }
  }

  .small {
    // width: 28%;
    // max-width: 11.25rem;
    width: 28.125%;
    @media screen and #{$small_screen} {
      // width: 40%;
    }
  }

  .mobile {
    width: 40%;
    @media screen and #{$small_screen} {
      width: 30%;
    }
    @media screen and #{$medium_screen} {
      width: 20%;
    }
  }

  .desktop {
    width: 100%;
  }

  .promo {
    // padding-right: : $defaultSpacing / 2;
    width: 100%;

    @media screen and #{$small_screen} {
      // float: left;
      // padding-right: $defaultSpacing / 2;
      display: table;
      margin: 0 auto;
      width: 60%;
    }
  }

  &:nth-child(odd) {
    .mobile {
      float: left;
      padding-right: $defaultSpacing / 2;
    }
  }
  &:nth-child(even) {
    .mobile {
      float: right;
      padding-left: $defaultSpacing / 2;
    }
    // .promo {
    //   @media screen and #{$small_screen} {
    //     float: right;
    //     padding-left: $defaultSpacing / 2;
    //   }
    // }
  }

  .type {
    background-color: lighten(map-get($greys, light), 20);
    border-radius: 3px;
    // display: table;
    // margin: 0 auto $defaultSpacing/2;
    // margin: 0 auto;
    // margin-left: $defaultSpacing / 2;
    padding: 0 $defaultSpacing/4;
    // text-align: center;
  }

  p:first-of-type {
    margin-top: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    // display: inline-block;
    // margin-right: $defaultSpacing / 2;

    @media screen and #{$small_screen} {
      margin-top: 0;
    }
    // margin-bottom: $defaultSpacing/2;
    // text-align: center;
  }
}

// ----------

nav {
  ul {
    margin-left: none;
  }
  li {
    display: inline-block;
    list-style-type: none;
  }
}
