// margin|padding: top sides bottom;

// $borderValue: .25rem solid map-get($greys, light);
$borderValue: .0625rem solid map-get($greys, light);
// $borderValue: .25rem solid map-get($greys, dark);

article {
  padding: $defaultSpacing / 2;
}

.project {
  border-top: $borderValue;
  padding: $defaultSpacing/2 0 $defaultSpacing/2;

  .large, .small {
    float: left;
    background-color: map-get($greys, light);
  }

  .large {
    width: 100%;
    @media screen and #{$small_screen} {
      width: 60%;
    }
  }

  .small {
    width: 50%;
    @media screen and #{$small_screen} {
      width: 40%;
    }
  }

  span {
    background-color: map-get($greys, light);
    border-radius: 3px;
    display: table;
    // margin: 0 auto $defaultSpacing/2;
    margin: 0 auto;
    padding: 0 $defaultSpacing/4;
    // text-align: center;
  }

  h1, h2, h3, h4, h5, h6 {
    // margin-bottom: $defaultSpacing/2;
    text-align: center;
  }
}
