@import 'vendor/normalize';
@import 'vendor/animate';

@import 'variables';
@import 'type';
@import 'header';
@import 'page';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: $white;
  // background-color: map-get($greys, light);
  color: $defaultTextColor;
  font-family: 'Open Sans', sans-serif;
  // font-family: 'Roboto', sans-serif;
  // font-family: 'Libre Baskerville', serif;
}

a {
  color: $defaultTextColor;
  font-weight: bold;
  text-decoration: none;
  &:hover, &:focus {
    // background-color: $accent;
    color: map-get($greys, medium);
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $accent;
}

footer {
  // background-color: map-get($greys, light);
  background-color: map-get($greys, medium);
  // border-top
  // border-bottom
  color: $white;
  // color: map-get($greys, light);
  padding: $defaultSpacing / 2;
}
